html {
  line-height: 1.2;
  -webkit-text-size-adjust: 100%;
}

html,
* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  background: #FFFFFE;
  height: 100vh;
}

.container__body {
  max-width: 1140px;
  margin: 0 auto;

}

.container__grid {
  display: grid;
  grid-template-columns: 630px 470px;
  gap: 40px;
  margin-top: 60px;
  padding-bottom: 130px;
}

.form__title {
  margin-bottom: 12px;
}

.title {
  font-size: 32px;
  font-weight: 700;
}

.form__text {
  font-size: 16px;
  margin-bottom: 32px;
}

.form__inputs {
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 32px;
}

.input {
  padding: 18px;
  color: #414042;
  border: none;
  box-shadow: 0px 16px 32px rgba(202, 203, 210, 0.25);
  border-radius: 8px;
}

.input:focus {
  outline: none;
}


.input-message,
.input-type {
  grid-column-start: 1;
  grid-column-end: 3;
}

.input-message {
  height: 330px;
  resize: none;
}

.button {
  color: #FFF;
  padding: 18px 52px;
  background-color: #1A1A1A;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.form__button {
  margin-top: 50px;
}

.gm-style-iw-d {
  box-shadow: none;
  padding: 0px !important;
  margin: 0px !important;
  overflow: hidden !important;
}

.gm-style-iw,
.gm-style-iw-c {
  top: 10px !important;
  box-shadow: 0px 15px 30px rgba(220, 221, 243, 0.25) !important;
  width: 244px !important;
  padding: 0px !important;
}

.gm-ui-hover-effect {
  display: none !important;
}

.gm-style-iw-tc {
  display: none !important;
}

.marker-label {
  background-color: #fff;
  width: 187px;
}

.info-window {
  padding: 20px;
  margin: 0;
  max-width: 187px;
}

.info-window__title {
  padding: 0px;
  margin: 0px;
}

.info-window__address {
  font-size: 14px;
  font-weight: 400;
  margin-top: 12px;
}

.info-window__phone,
.info-window__email {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #858585;
  margin-top: 12px;
}

.info-window__phone p,
.info-window__email p {
  margin: 0;
}

.info-window__phone img,
.info-window__email img {
  width: 13px;
}

@media screen and (max-width: 400px) {
  .container__body {
    width: 350px;
    padding-bottom: 130px;

  }

  .container__grid {
    display: inline;
  }

  .form__inputs {
    display: inline;
    width: 350px;

  }

  .input:first-child{
    margin-top: 0px;
  }

  .input{
    box-sizing:border-box;
    width: 100%;
    margin-top: 36px;
  }

  .button{
    width: 100%;
    margin-bottom: 60px;
  }

  .form__text{
    line-height: 175%;
  }


  #map{
    max-height: 600px;
  }

}